<%= render "shared/header" %>
<div class="wrapper">
  <div class="top">
    <div class="expense-header">
    </div>
    <% if user_signed_in? %>
      <div class="create-record">
        <%= link_to "記録する", new_expense_path, class:"post" %>
      </div>
      <div class="month-main">
        <div class="monthly-expense">
          <%= "#{@this_month}月の出費#{@month_sum}円" %>
        </div>
        <div class="category-expense">
        <table>
          <tr>
            <th>出費日</th><th>カテゴリー</th><th>メモ</th><th>金額</th>
          </tr>
          <% @expenses.each do |expense| %>
          <tr>
            <div class="expense">
              <div class="expense-created_at">
                <td><%= l expense.created_at %></td>
              </div>
              <div class="expense-category">
                <td><%= expense.category.name %></td>
              </div>
              <div class="expense-memo">
                <td><%= expense.memo %></td>
              </div>
              <div class="expense-amount">
                <td><%= "#{expense.amount}円" %></td>
              </div>
            </div>
           </tr>
          <% end %>
        </table>
        </div>
        <% else %>
        <div class="lead-to-login">
          <%= link_to 'ログインしてください', new_user_session_path, class: "login" %>
        </div>
      </div>
    <% end %>
  </div>
</div>