<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="top-table">
    <%= render "shared/header" %>
    <table>
      <tr>
        <th>ニックネーム</th><th>今月の出費</th><th><%= "#{current_user.nickname}さんより"%></th>
      </tr>
      <% current_user.followers.each do |user| %>
        <% counter = 0 %>
        <% user.followers.each do |dummy| %>
          <% if current_user.id == dummy.id %>
            <% counter += 1 %>
          <% end %>
        <% end %>
        <% if counter >= 1 %>
          <tr>
            <td><%= user.nickname %></td>
              <% sum = 0 %>
              <% @expenses.each do |expense| %>
                <% if user.id == expense.user_id %>
                  <% sum += expense.amount %>
                <% end %>
              <% end %>
            <td><%= sum %></td>
              <% a = @month_sum - sum %>
              <% if a < 0 %>
                <td><%= "#{a.abs}円多い" %></td>
              <% elsif a == 0 %>
                <td><%= "同じ" %>
              <% else %>
                <td><%= "#{a}円少ない"%></td>
              <% end %>
            
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>