<%= form_with model: @expense, url:expense_path, local: true do |f| %>
  <div class="expense-box">
    出費を編集する
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
    <%= f.text_area :memo, class:"memo", placeholder:"memo" %>
    <%= f.text_field :amount, class:"amount-input", id:"expense-amount", placeholder:"例）300" %>
    <%= f.date_field :date, class:"expensed-day" %>
    <%= f.submit "保存する" ,class:"btn" %>
  </div>
<% end %>